<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.plus.system.mapper.UserMapper">

    <select id="iPageSelect" resultType="com.mybatis.plus.system.entity.User">
        select * from user
    </select>

</mapper>